{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col- col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                   First Album on sale!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
            <div class="col- col-md-6 my-auto">
                <div id="photo">
                    <img src="https://machiko-kimura-lacey-pianist.s3-eu-west-1.amazonaws.com/media/template/12107898_10205710384738747_1030625496299507854_n.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
{% endblock %}