{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}



{% block content %}






<div class="container h-100">
<div class="owl-carousel">
        {% for advert in adverts %} 
            <div class="item"><img src="{{ MEDIA_URL }}{{ advert.banner }}"></div>
        {% endfor %}
</div>

<!--
    <div id="owl-demo">
                <h1>
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3"> First Album on sale!</a></h1>
            </h1>
            {% for advert in adverts %} 
        
            <div class="item"><img src="{{ MEDIA_URL }}{{ advert.banner }}" alt="Owl Image"></div>
            {% endfor %}
    </div>
-->
</div>
 {% if adverts %}
    <script>
  
   $(document).ready(function() { 

      $(".owl-carousel").owlCarousel({
            autoplaySpeed:600, 
            items : 1,
            loop:true,
            margin:10,
            nav:true,
            autoplay:true,
            autoplayTimeout:3000,
            autoplayHoverPause:true
      });
     
    });
    </script>
{% endif %}
{% endblock %}